manifest {
  author = 'Dan Fornika'
  name = 'BCCDC-PHL/mykrobe-nf'
  version = '0.1.0'
  description = 'Nextflow wrapper for Mykrobe'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}


params {
  profile = false
  cache = ''
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq', '.fq', '.fastq.gz', '.fq.gz']
  fastq_search_path = makeFastqSearchPath( params.illumina_suffixes, params.fastq_exts )
  species = 'tb'
  versioned_outdir = false
  outdir = 'results'
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    if ( params.fastq_input ) {
      def fastq_search_path = []
      for (suffix in illumina_suffixes){
          for (ext in fastq_exts){
              fastq_search_path.add(params.fastq_input.toString() + '/**' + suffix.toString() + ext.toString())
          }
      }
      return fastq_search_path
    }
}

process {
  withName: mykrobe_predict { 
    cpus = 4
  }
}

